@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap");
.kk {
  height: 40vh;
  width: 100vw;
  background: linear-gradient(rgb(73, 3, 80), rgba(157, 8, 170, 0.603)),
    url(../public/about4.jpg);
  padding-top: 20px;
}
.spacer {
  height: 5px;
}
.text {
  padding: 20px;

  text-align: center;
}
.inf {
  color: #eee;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 20px;
  padding: 10px;
}
.text h2 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 30px;
  color: #eee;
}
