
.carrier{
	position: relative;
}

.tt{
	 position: absolute;
	  top: 200px;
	 width: 100vw;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	 margin: auto;
	  color: white;
z-index: 2;

}
.tt h1{
	color: #FBB269;
}
.tt h5{
	color: #FBB269;
}
.ccm{
	height: 100vh;
	width: 100vw;
}
.im{
	height: 100vh;
}
.s p{
	border:solid #fbb269 1px;
	color: red;
}
.im{
	 position: absolute;
	  top: 0px;
}
.imo{
	display: none;
}
.i{
	 position: absolute;
	  top: 0px;
	  display: none;
}
.tt h6{
	 color: white;
}
 .yes{
 	margin-bottom: 50;
 }


@media (max-width: 800px){
	.i{
		display: block;
	}
	.im{
		display: none;
	}
	.tt{
		
	}
}
