.root{

    width: 100%;
    height: calc(100vh-40);
  
}
.carrier{
	position: relative;
}
.tt{
	 position: absolute;
	  top: 80px;
	  color: white;
z-index: 2;
}
.im{
	 position: absolute;
	  top: 0px;
}
.tt h6{
	 color: white;
}
 .yes{
 	margin-bottom: 50;
 }
.carousel {
    position: absolute;
    height: calc(100vh);
    zIndex: 4;
    userSelect: none;
  }
.image{
height: calc(100vh*0.8);
}
.content{
	 color: white;
  z-index: 5;
    width: 100%;
   margin-top: 100px;
   position: absolute;
}
.buttonContent{
	height: 52px;
    width: 134px;
    color: white;
   padding-top: 14px;
    align-items: right;
    justify-content: center;
    padding-bottom: 14px;
   padding-right: 20px;
    padding-left: 20px;
    border-radius: 0;
    font-size: 12px;
    background: #fe6600;
   margin-top: 50px;
    transition: 0.5s;
   /* '&:hover': {
      background: '#0e92d0',
    },*/
}