
.carrier{
	position: relative;
}

.tt{
	 position: absolute;
	  top: 0px;
	 width: 100vw;
	 height: 100vh;
	 padding-top: 400px;
	 margin: auto;
	  color: white;
z-index: 2;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.s p{
	border:solid #fbb269 1px;
	color: red;
}
.im{
	 position: absolute;
	  top: 0px;
}
.imo{
	display: none;
}
.i{
	 position: absolute;
	  top: 0px;
	  display: none;
}
.tt h6{
	 color: white;
}
 .yes{
 	margin-bottom: 50;
 }


@media (max-width: 800px){
	.i{
		display: block;
	}
	.im{
		display: none;
	}
	.tt{
		padding-top: 150px;
	}
}
