.contact {
  background-color: rgb(56, 8, 100);
  color: #eee;
}
.contact h2 {
  text-align: center;
}
.right input {
  border-radius: 5px;
  border-color: antiquewhite;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
}
.cont input {
  margin-bottom: 15px;
}

.fname {
  width: 200px;
  height: 30px;
  font-size: 16px;
  margin-right: 60px;
}
.lname {
  width: 200px;
  height: 30px;
  font-size: 16px;
}
.con {
  width: 460px;
  height: 30px;
  font-size: 16px;
}
.tt {
  width: 460px;
  font-size: 16px;
}
.left {
  padding: 20px;
}
.btn {
  background-color: rgb(195, 43, 226);
  color: #eee;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  font-size: 24px;
}
.btn:hover {
  background-color: burlywood;
  color: #eee;
}
@media only screen and (max-width: 800px) {
  .right input {
    width: 90vw;
    padding: 10px;
  }
  .tt {
    width: 90vw;
  }
  .fname {
    margin-right: 0px;
  }
  .right {
    padding: 5px;
  }
  input .btn {
    width: 150px;
  }
  .cont {
    padding: 5px;
  }
  .btn {
    width: 150px;
  }
}
